

@{
    ViewData["Title"] = "Welcome";
    int numTimes = ViewBag.NumTimes!;
}


    <h2>Welcome</h2>

    <ul>
    @for (int i = 0; i < @numTimes; i++)
        {
        <li>
            @i 
            @ViewBag.Message
        </li>
        }
    </ul>

